.vertical-center {
  min-height: 100%;

  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: 0;
}

#carousel-img {
  height: 100vh;
  width: 100%;
}
.carousel {
  width: 50%;
  max-height: 50%;
}
h1,
p {
  color: white;
}
#myCarousel {
  position: fixed;
}

strong {
  color: white;
}
.well {
  margin-top: 10px;
  border-radius: 15px 15px 15px 15px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgb(255, 255, 255, 1);
}
.register {
  width: 80%;
  max-width: 500px;
  margin-top: 20px;
}